<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441868802090-6i6ib1scblq7ogka31nomvrgg8d2v36o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441868802090-6i6ib1scblq7ogka31nomvrgg8d2v36o</string>
	<key>API_KEY</key>
	<string>AIzaSyDmna_5JV1YIpG4kSwa0XWVfRvhuBVtfBc</string>
	<key>GCM_SENDER_ID</key>
	<string>441868802090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webRtcDemo</string>
	<key>PROJECT_ID</key>
	<string>webrtc-41b4b</string>
	<key>STORAGE_BUCKET</key>
	<string>webrtc-41b4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441868802090:ios:5a6602f878d5aa2e6f8b53</string>
</dict>
</plist>